@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    font-family: "DM Sans", sans-serif;
}

#app {
    font-family: "Quicksand", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    @apply font-light;
}

.black-title {
    @apply text-[50px] font-extrabold text-black leading-[70px];
    font-family: "DM Sans", sans-serif;
}

.blue-title {
    @apply text-blue-400 font-black;
}

.sub-info {
    font-family: "DM Sans", sans-serif;
}

.icon-slide {
    @apply text-[20px] border-[1px] border-blue-400 p-1 rounded-full cursor-pointer ml-7;
    &:hover {
        @apply text-white duration-300 bg-blue-400;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    //  display: none; 
    // -webkit-appearance: none;
}

.img {
    animation: slide 0.5s;
}

@keyframes slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn-blue {
    @apply bg-blue-400 px-5 py-3 w-auto text-[15px] text-white;
}

.card-pg {
    @apply text-gray-500 text-[15px] font-[600];
}

.destination {
    @apply flex items-center justify-between w-[70%] mx-auto px-6;
}

@media (max-width: 900px) {
    .black-title {
        @apply text-[30px] leading-[50px];
    }
    .card-pg {
        @apply text-[13px];
    }
    .info-card {
        @apply mt-[40px];
    }
    .destination {
        @apply w-full px-[10px];
    }
}

@media (max-width: 400px) {
    .destination {
        @apply flex-col;
    }
}